{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'huiyiyuding/css/layui.css' %}"  media="all">
        <script src="{% static 'huiyiyuding/layui.js' %}" charset="utf-8"></script>

    </head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
      <div class="layui-logo layui-hide-xs layui-bg-black">{{ title }}</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
        <i class="layui-icon layui-icon-spread-left"></i>
      </li>

      <li class="layui-nav-item layui-hide-xs"><a href="">nav 1</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="">nav 2</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="">nav 3</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">nav groups</a>
        <dl class="layui-nav-child">
          <dd><a href="">menu 11</a></dd>
          <dd><a href="">menu 22</a></dd>
          <dd><a href="">menu 33</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        { %  if  request.user.is_authenticated  % }
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;">
          <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
            {{ user.username }}</a>
         { %  else  % }
            <a href="/login/">登陆</a>
         { %  endif  % }

        </a>
        <dl class="layui-nav-child">
          <dd><a href="/userinfo/">个人中心</a></dd>
          <dd><a href="">修改密码</a></dd>
          <dd><a href="/logout/">退出登录</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">导航菜单</a>
          <dl class="layui-nav-child">
            <dd><a href="/createmeeting/">预定会议室</a></dd>
            <dd><a href="/mycreate/">我的预定</a></dd>
            <dd><a href="/list/">查看会议室</a></dd>

          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">管理员菜单</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">会议室管理</a></dd>
            <dd><a href="javascript:;">用户管理</a></dd>
             <dd><a href="javascript:;">系统日志</a></dd>
             <dd><a href="javascript:;">操作记录</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
        <li class="layui-nav-item"><a href="">the links</a></li>
      </ul>
    </div>
  </div>
  <div class="layui-body">
    <!-- 内容主体区域 -->
