{% load static %}
{% include 'huiyiyuding/core/base.html' %}

    <div style="padding: 15px;">
         <div class="layui-form">

<table id="demo" lay-filter="test"></table>

<script>
layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#demo'
    ,url:'/update_meeting/'
    {#,parseData:function (res){#}
    {#    console.log(res);#}
    {#    return{#}
    {#        "code":200,#}
    {#        "msg": "",#}
    {#        "count": 1000,#}
    {#        "data":res#}
    {#    };#}
    {#  }#}

    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
      title: '提示'
      ,layEvent: 'LAYTABLE_TIPS'
      ,icon: 'layui-icon-tips'
    ,response: {
          statusName: 'code' //数据状态的字段名称，默认：code
          ,statusCode: 0 //成功的状态码，默认：0
          ,msgName: 'msg' //状态信息的字段名称，默认：msg
          ,countName: 'count' //数据总数的字段名称，默认：count
          ,dataName: 'data' //数据列表的字段名称，默认：data
}
    }]
    ,title: '会议室列表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'pk', title:'ID', width:80, fixed: 'left', sort: true}
      ,{field:'name', title:'会议室名称', width:120}
      ,{field:'people', title:'容纳人数', width:120}
      ,{field:'starttime', title:'开始时间', width:150, sort: true}
      ,{field:'endtime', title:'结束时间', width:150}
      ,{field:'createtime', title:'预约人',width:100}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
    ]]

  });

  //头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
      case 'getCheckData':
        var data = checkStatus.data;
        layer.alert(JSON.stringify(data));
      break;
      case 'getCheckLength':
        var data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
      break;
      case 'isAll':
        layer.msg(checkStatus.isAll ? '全选': '未全选');
      break;

      //自定义头工具栏右侧图标 - 提示
      case 'LAYTABLE_TIPS':
        layer.alert('这是工具栏右侧自定义的一个图标按钮');
      break;
    };
  });

  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'edit'){
      layer.prompt({
        formType: 2
        ,value: data.email
      }, function(value, index){
        obj.update({
          email: value
        });
        layer.close(index);
      });
    }
  });
});
</script>

</div>
    </div>
{% include 'huiyiyuding/core/foot.html' %}